<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles/index.css">
    </head>
    <body>
        <a href="{{ request.route_url('list_view') }}"><button>Home</button></a>
    {% block content %}{% endblock %}
    </body>
</html>